/**
*
* themes
*
**/
//-----------------------------------color-----------------------------------
// themes
$text_color: #222;
$link_color: #0047FF;
$date_color: #9A9A9A;
$placeholder_color: #aaa;
$color_primary: #3B89C3;
$color_secondary: #EF7455;
$color_tertiary: #EDEDFF;
$color_quaternary: #C7D97E;
$color_danger: #FF8F27;
$color_green: #E3F079;
$color_white: #ffffff;
$color_black: #000000;
$color_transparent: transparent;
//-----------------------------------font-family-----------------------------------
$font-Noto-Sans: 'Noto Sans TC', sans-serif;

//-----------------------------------font-size-----------------------------------
$font-size: 17px !default;
//-----------------------------------width-----------------------------------
$width_fluid: 100%;
$width_wrapper: 1440px;
$width_content: 1200px;
$width_single : 900px;
$width_auto: auto;

//-----------------------------------custom @extend-----------------------------------
// @extend %flexrow;
%flexrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

// @extend %flexcolumn;
%flexcolumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}