/**
*
* contactUnit
*
**/
.contactUnit {
    max-width: 90%;
    margin: auto;
    @include border_radius(2vw);
    background-color: #ccc;
    margin-bottom: 1vw;

    @include screen_960 {
        margin-bottom: 4vw;
        @include border_radius(4vw);
    }

    &.news {
        background-color: $color_tertiary;
    }

    &.resources {
        background-color: $color_green;
    }

    &.trainData {
        background-color: $color_quaternary;
    }

    &.team {
        background-color: #F2EEE8;
    }

    &.aboutProject {
        background-color: #D5B78E;
    }

    &.aboutExpected {
        background-color: #A9D6BF;
    }

    &.aboutStage {
        background-color: #B9D4E7;
    }

    &.download,
    &.terms {
        background-color: #EF7455;
    }

    &__body {
        position: relative;
        padding: 2vw 2vw;
        min-height: 15vw;

        @include screen_960 {
            padding: 6vw 6vw;
            min-height: inherit;
            min-height: initial;
        }

        h2 {
            color: $color_black;
            font-size: 2vw;
            font-weight: 700;
            line-height: 1.4;

            @include screen_960 {
                font-size: 5vw;
            }

            span {
                display: block;
            }
        }

        .btn {
            @include position(absolute, null -1px -1px null);
            width: 7vw;
            height: 6vw;
            background: url(../../images/boxRb.svg) no-repeat right center / 100% auto;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            @include screen_960 {
                width: 15vw;
                height: 14.5vw;
            }

            img {
                width: 3.6vw;

                @include screen_960 {
                    width: 9vw;
                }
            }

            a {
                color: $color_black;
            }

            span {
                font-size: 1vw;
                font-weight: 500;
                line-height: 1.4;
                display: block;
                text-align: right;
                @include position(absolute, null null 1vw -7vw);

                @include screen_960 {
                    font-size: 3.5vw;
                    bottom: 2vw;
                    left: -22vw;
                    width: 24vw;
                }
            }
        }
    }
}