/**
*
* tagUnit
*
**/
.tagUnit {
    position: relative;
    display: inline-block;
    line-height: 1.4;
    @include border_radius(4vw);
    color: $color_primary;
    font-size: 1vw;
    font-weight: 400;
    padding: .5vw 1vw;
    border: 1px #C5C5C5 solid;
    background-color: $color_transparent;
    text-align: center;

    @include screen_960 {
        @include border_radius(7vw);
        font-size: 3.5vw;
    }

    &.date {
        position: absolute;
        top: 1.5vw;
        left: 1.5vw;
        color: $color_black;
        background-color: #EFEFEF;
        border: 0;
        z-index: 1;

        @include screen_960 {
            position: static;
            top: auto;
            left: auto;
            padding: 0;
            background-color: $color_transparent;
        }
    }

    &.secondary {
        padding: .5vw 1vw;
        color: $color_secondary;
        border: 1px $color_secondary solid;

        @include screen_960 {
            padding: 1vw 4vw;
        }

        a {
            display: block;
            color: $color_secondary;
        }
    }

    &.solid {
        &.secondary {
            color: $color_white;
            background-color: $color_secondary;

            a {
                color: $color_white;
            }
        }
    }

    &.active {
        &.secondary {
            color: $color_white;
            background-color: $color_secondary;

            a {
                color: $color_white;
            }
        }
    }

    &.grey {
        padding: .3vw 1vw;
        color: $color_black;
        border: 1px $color_black solid;

        @include screen_960 {
            padding: 1vw 4vw;
        }

        a {
            display: block;
            color: $color_black;
        }
    }

    &.about1 {
        color: $color_white;
        background-color: #D5B78E;
    }

    &.about2 {
        color: $color_white;
        background-color: #CA824D;
    }

    &.about3 {
        color: $color_white;
        background-color: #A86132;
    }
}