/**
*
* aboutUnit
*
**/
.aboutUnit {
    padding-top: 4vw;
    padding-bottom: 6vw;

    &.project {
        .aboutUnit__body {
            h1 {
                color: #D5B78E;
            }

            .cardAbout {
                .cardAbout__item {
                    background-color: #D5B78E;

                    .text {
                        color: #85663D;
                    }
                }
            }

            .newsSwiper {
                .swiper-pagination-bullet {
                    background-color: #AA9272;

                    &.swiper-pagination-bullet-active {
                        background-color: #554939;
                    }
                }
            }

            .accordion {
                &__con {
                    p {
                        @include screen_960 {
                            color: #B46F3D;
                        }
                    }
                }

                h3 {
                    background: url(../../images/icon/icon_plus2.svg) no-repeat 97% center / 1vw auto;
                }
            }

            .section1 {
                .infoCon {
                    width: 40%;

                    @include screen_960 {
                        width: 100%;
                    }
                }

                .photo {
                    width: 50%;
                    @include border_radius(2vw);
                    overflow: hidden;

                    @include screen_960 {
                        width: 100%;
                        margin-top: 8vw;
                        @include border_radius(4vw);
                    }
                }
            }

            .section2 {

                .infoCon {
                    width: 55%;

                    @include screen_960 {
                        width: 100%;
                    }
                }

                .photo {
                    width: 40%;
                    @include border_radius(2vw);
                    overflow: hidden;

                    @include screen_960 {
                        width: 100%;
                        margin-top: 6vw;
                        @include border_radius(4vw);
                    }
                }
            }

            .section3 {
                margin-top: 12vw;

                .text {
                    margin-top: 4vw;
                    font-size: 1.2vw;
                    line-height: 1.4;

                    @include screen_960 {
                        font-size: 4vw;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    &.expected {
        padding-bottom: 0;
        margin-bottom: -.8vw;

        @include screen_960 {
            margin-bottom: 0;
        }

        .aboutUnit__body {
            h1 {
                color: #059371;
            }

            .cardAbout {
                .cardAbout__item {
                    background-color: #419F83;
                }

                .text {
                    color: #9BEAD2;
                }
            }

            .newsSwiper {
                .swiper-pagination-bullet {
                    background-color: #347F69;

                    &.swiper-pagination-bullet-active {
                        background-color: #1A4034;
                    }
                }
            }

            .accordion {
                &__con {
                    p {
                        @include screen_960 {
                            color: #419F83;
                        }
                    }
                }

                h3 {
                    background: url(../../images/icon/icon_plus.svg) no-repeat 97% center / 1vw auto;
                }
            }

            .section1 {
                .row {
                    margin-top: 0;
                }
            }

            .section1,
            .section3 {
                .tagUnit {
                    margin-top: 1vw;
                    margin-bottom: 2vw;

                    @include screen_960 {
                        margin-top: 2vw;
                        margin-bottom: 4vw;
                    }
                }

                .infoCon {
                    width: 55%;

                    @include screen_960 {
                        width: 100%;
                    }
                }

                .photo {
                    width: 40%;
                    @include border_radius(2vw);
                    overflow: hidden;

                    @include screen_960 {
                        width: 100%;
                        @include border_radius(4vw);
                    }
                }
            }

            .section2,
            .section4 {
                .infoCon {
                    width: 100%;

                    @include screen_960 {
                        width: 100%;
                    }
                }

            }
        }
    }

    &.stage {
        .aboutUnit__body {
            h1 {
                color: #74BCEC;
            }

            .cardAbout {
                .cardAbout__item {
                    background-color: #B9D4E7;
                }

                .text {
                    color: #1486BC;
                }
            }

            .newsSwiper {
                .swiper-pagination-bullet {
                    background-color: #347F69;

                    &.swiper-pagination-bullet-active {
                        background-color: #1A4034;
                    }
                }
            }

            .accordion {
                &__con {
                    p {
                        @include screen_960 {
                            color: #419F83;
                        }
                    }
                }

                h3 {
                    background: url(../../images/icon/icon_plus.svg) no-repeat 97% center / 1vw auto;
                }
            }

            .section1 {
                .infoCon {
                    width: 55%;

                    @include screen_960 {
                        width: 100%;
                    }
                }

                .photo {
                    width: 40%;
                    @include border_radius(2vw);
                    overflow: hidden;

                    @include screen_960 {
                        width: 100%;
                        margin-top: 8vw;
                        @include border_radius(4vw);
                    }
                }

                &>.text {
                    margin-top: 2vw;
                    margin-bottom: 6vw;
                    width: 48%;

                    font-size: 1.1vw;
                    line-height: 1.6;

                    @include screen_960 {
                        margin-top: 4vw;
                        margin-bottom: 8vw;
                        width: 100%;
                        font-size: 4vw;
                    }
                }
            }
        }
    }

    &__body {
        max-width: 90%;
        margin: auto;

        @include screen_960 {
            padding: 0 5vw;
            max-width: 100%;
        }

        h1 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 4vw;
            font-weight: 500;
            line-height: 1.4;

            @include screen_960 {
                font-size: 10vw;
                line-height: 1.8;
            }
        }


        .tagList {
            display: flex;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;
            width: 78%;
            margin: 2.5vw auto 2vw auto;

            @include screen_960 {
                width: 90%;
                margin: 8vw auto 7vw auto;
            }

            .tagUnit {
                margin: .5vw .5vw;
                line-height: 1.8vw;
                cursor: pointer;

                @include screen_960 {
                    margin: 1vw .5vw;
                    line-height: 5.8vw;
                }
            }
        }

        .infoCon {

            h4 {
                font-size: 1.5vw;
                font-weight: 500;
                line-height: 1.3;

                @include screen_960 {
                    font-size: 4vw;
                }

                span {
                    display: block;
                }
            }

            .text {
                margin-top: .5vw;
                font-size: 1.2vw;
                line-height: 1.4;

                @include screen_960 {
                    margin-top: 2vw;
                    font-size: 4vw;
                    line-height: 1.5;
                }
            }

            .tagList {
                justify-content: flex-start;
                width: auto;
                margin: 1vw -.5vw 0 -.5vw;

                @include screen_960 {
                    margin: 2vw -.5vw 0 -.5vw;
                }

                .tagUnit {
                    margin: .5vw .5vw;

                    @include screen_960 {
                        margin: 1vw .5vw;
                    }
                }
            }
        }

        .newsSwiper {
            height: 100%;

            .swiper-slide {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
            }

            .newsSwiperPagination {
                position: absolute;
                left: 0;
                bottom: 0;
                margin: 0 -.4vw;
                z-index: 1;
            }

            .swiper-pagination-bullet {
                width: 3vw;
                margin: 0 .4vw !important;
                @include border_radius(1vw);
                opacity: 1;

                @include screen_960 {
                    width: 8vw;
                    margin: 0 1vw !important;
                    @include border_radius(3vw);
                }
            }
        }
    }

    .section {
        width: 80%;
        margin: 8vw auto 0 auto;

        @include screen_960 {
            width: 100%;
            margin: 12vw auto 0 auto;
        }

        h2 {
            font-size: 2vw;
            font-weight: 500;
            line-height: 1.3;

            @include screen_960 {
                font-size: 6vw;
            }

            span {
                display: block;
            }
        }

        .tagUnit {
            margin-top: 1vw;

            @include screen_960 {
                margin-top: 3vw;
            }
        }

        ol {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 2vw -1% 0 -1%;

            @include screen_960 {
                flex-direction: column;
                margin: 4vw 0 0 0;
            }

            li {
                position: relative;
                width: calc(33.3% - 2%);
                background-color: $color_white;
                margin: 1% 1%;
                padding: 1.5vw;
                border: 1px #D1D1D1 solid;
                @include border_radius(2vw);
                min-height: 25vw;

                @include screen_960 {
                    width: 100%;
                    margin: 2% 0;
                    padding: 4vw;
                    min-height: 60vw;
                    @include border_radius(4vw);
                }

                h3 {
                    font-size: 1.4vw;
                    font-weight: bold;
                    line-height: 1.4;

                    @include screen_960 {
                        font-size: 5vw;
                    }

                    span {
                        display: block;

                        @include screen_960 {
                            display: inline;
                        }
                    }
                }

                p {
                    margin-top: 1vw;
                    font-size: 1.1vw;
                    line-height: 1.6;

                    @include screen_960 {
                        font-size: 4vw;
                    }
                }

                .tagList2 {
                    position: absolute;
                    left: 1vw;
                    bottom: 1.5vw;
                    display: flex;
                    flex-direction: column;

                    @include screen_960 {
                        left: 3vw;
                        bottom: 4vw;
                    }

                    .tagUnit {
                        margin-top: .5vw;

                        @include screen_960 {
                            margin-top: 2vw;
                            padding: 1vw 4vw;
                        }
                    }
                }
            }
        }

        .row {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 2vw;

            @include screen_960 {
                flex-direction: column;
            }

            .infoCon {
                .text {
                    margin-top: .5vw;
                    font-size: 1.3vw;
                    line-height: 1.4;

                    @include screen_960 {
                        margin-top: 2vw;
                        font-size: 4vw;
                        line-height: 1.5;
                    }
                }

                ul {
                    margin-top: 1.5vw;

                    @include screen_960 {
                        margin-top: 8vw;
                    }

                    li {
                        margin-top: .5vw;
                        padding: .7vw 0 .7vw 3.5vw;
                        font-size: 1.3vw;
                        line-height: 1.4;
                        background: url(../../images/icon/icon_tick2.svg) no-repeat left center / 3vw auto;

                        @include screen_960 {
                            margin-top: 3vw;
                            padding: 1.5vw 0 1.5vw 11vw;
                            font-size: 5vw;
                            background-size: 10vw;
                            font-weight: bold;
                        }
                    }
                }

                .accordion {
                    &__item {
                        @include border_radius(2vw);
                        background-color: #F9F9F9;

                        @include screen_960 {
                            @include border_radius(4vw);
                        }
                    }

                    &__con {
                        padding: 0 1.7vw 1.7vw 1.7vw;

                        @include screen_960 {
                            padding: 0 2.5vw 4.5vw 2.5vw;
                        }

                        p {
                            font-size: 1.1vw;
                            line-height: 1.6;

                            @include screen_960 {
                                font-size: 4vw;
                            }
                        }
                    }

                    h3 {
                        margin-top: 1vw;
                        padding: 1.7vw;
                        font-size: 1.3vw;
                        font-weight: 500;
                        line-height: 1.3;
                        cursor: pointer;

                        @include screen_960 {
                            padding: 4.5vw 2.5vw;
                            margin-top: 2vw;
                            font-size: 5vw;
                            background-size: 3vw;
                        }
                    }
                }
            }
        }

        &+.cardAbout {
            margin-top: 8vw;
        }
    }
}

.foldUnit {
    &.foldUnit1 {
        .item1 {
            top: 0;
        }

        .item2 {
            top: 57%;

            @include screen_960 {
                top: 0;
            }
        }

        .item3 {
            top: 69%;

            @include screen_960 {
                top: 0;
            }
        }

        .item4 {
            top: 81%;

            @include screen_960 {
                top: 0;
            }
        }
    }

    &.foldUnit2 {
        .item1 {
            top: 0;
        }

        .item2 {
            top: 11%;

            @include screen_960 {
                top: 0;
            }
        }

        .item3 {
            top: 69%;

            @include screen_960 {
                top: 0;
            }
        }

        .item4 {
            top: 81%;

            @include screen_960 {
                top: 0;
            }
        }
    }

    &.foldUnit3 {
        .item1 {
            top: 0;
        }

        .item2 {
            top: 11%;

            @include screen_960 {
                top: 0;
            }
        }

        .item3 {
            top: 23%;

            @include screen_960 {
                top: 0;
            }
        }

        .item4 {
            top: 81%;

            @include screen_960 {
                top: 0;
            }
        }
    }

    &.foldUnit4 {
        .item1 {
            top: 0;
        }

        .item2 {
            top: 11%;

            @include screen_960 {
                top: 0;
            }
        }

        .item3 {
            top: 23%;

            @include screen_960 {
                top: 0;
            }
        }

        .item4 {
            top: 35%;

            @include screen_960 {
                top: 0;
            }
        }
    }

    &__wrap {
        position: relative;
        width: 100%;
        min-height: 40vw;
        overflow: hidden;
        @include border_radius(0, 0, 1.5vw, 1.5vw);

        @include screen_960 {
            overflow: visible;
            min-height: inherit;
            min-height: initial;
        }
    }

    &__item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 40vw;
        padding: 1vw 3vw;
        @include transition(top, .3s, ease-in-out);

        @include screen_960 {
            position: relative;
            min-height: 120vw;
            padding: 4vw 6vw;
        }

        &:nth-child(even) {
            background: url(../../images/about/bg_foldUnit_2.svg) no-repeat center / 100% auto;

            @include screen_960 {
                background: url(../../images/about/bg_foldUnit_2_m.svg) no-repeat center / 100% auto;
            }

            .step,
            h3,
            .text,
            .date,
            .tagUnit {
                color: #C2D3F4;
                border-color: #C2D3F4;
            }
        }

        &:nth-child(odd) {
            background: url(../../images/about/bg_foldUnit_1.svg) no-repeat center / 100% auto;

            @include screen_960 {
                background: url(../../images/about/bg_foldUnit_1_m.svg) no-repeat center / 100% auto;
            }

            .step,
            h3 {
                color: #1486BC;
            }
        }

        .step {
            font-size: 1.5vw;
            line-height: 1.4;
            display: inline-block;
            cursor: pointer;

            @include screen_960 {
                font-size: 5vw;
                font-weight: 500;
            }
        }

        h3 {
            margin-top: 4vw;
            font-size: 2vw;
            font-weight: bold;
            line-height: 1.3;

            @include screen_960 {
                font-size: 7vw;
                margin-top: 12vw;
            }
        }

        .text {
            width: 40%;
            margin-top: 1vw;
            font-size: 1vw;
            line-height: 1.6;

            @include screen_960 {
                width: 100%;
                font-size: 4.5vw;
            }

            span {
                display: block;

                @include screen_960 {
                    display: inline;
                }
            }
        }

        .date {
            position: absolute;
            top: 10vw;
            left: 57%;
            font-size: 1vw;
            line-height: 1.6;

            @include screen_960 {
                position: relative;
                top: 4vw;
                left: auto;
                font-size: 3.5vw;
            }

            &>div {
                @include screen_960 {
                    position: relative;
                    top: .5vw;
                    display: inline;
                    vertical-align: top;
                }
            }

            b {
                font-size: 6vw;
                font-weight: bold;
                line-height: 1;

                @include screen_960 {
                    font-size: 12vw;
                }
            }

            span {
                font-size: 2vw;
                font-weight: bold;
                line-height: 1;

                @include screen_960 {
                    font-size: 4.5vw;
                    padding: 0 1vw;
                }
            }
        }

        .tagUnit {
            position: absolute;
            top: 3.5vw;
            right: 1.5vw;
            z-index: 1;

            @include screen_960 {
                top: 10vw;
                right: 4.5vw;
                cursor: default;
            }
        }

        &.item2,
        &.item3,
        &.item4 {
            @include screen_960 {
                margin-top: -12vw;
            }
        }

    }
}