/**
*
* bannerUnit
*
**/
.bannerUnit {
    @include screen_960 {
        margin-top: -6vw;
    }

    &__body {
        width: 88%;
        margin: 0 auto;
    }

    &__wrap {
        margin: 0 -.5%;
        display: flex;
        align-items: stretch;
        justify-content: center;

        @include screen_960 {
            flex-direction: column;
        }
    }

    &__left {
        position: relative;
        width: 70%;
        background-color: #F5F1EC;
        margin: 0 .5%;
        height: 42vw;
        overflow: hidden;
        @include border_radius(2vw);

        @include screen_960 {
            width: 100%;
            margin: 0;
            height: 80vw;
            @include border_radius(4vw);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include border_radius(2vw);
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include screen_960 {
                @include border_radius(4vw);
            }
        }
    }

    &__right {
        position: relative;
        width: 30%;
        margin: 0 .5%;

        @include screen_960 {
            width: 100%;
            margin: 0;
        }

        h2 {
            color: $text_color;
            font-size: 3vw;
            font-weight: 500;
            line-height: 1.4;
            padding: 1vw;

            @include screen_960 {
                margin-top: 6vw;
                padding: 0;
                font-size: 6vw;
            }
        }

        .bannerSwiper {
            @include border_radius(2vw);
            background-color: #EF7455;

            @include screen_960 {
                margin-top: 2vw;
                @include border_radius(4vw);
            }

            .swiper-slide {
                padding: 2vw;
                min-height: 30.3vw;

                @include screen_960 {
                    padding: 4vw;
                }

                h3 {
                    font-size: 1.6vw;
                    font-weight: bold;
                    line-height: 1.4;

                    @include screen_960 {
                        font-size: 5vw;
                    }

                    b {
                        color: $color_white;
                    }
                }
            }

            .bannerSwiperPagination {
                padding: 2vw;

                @include screen_960 {
                    padding: 4vw;
                }
            }

            .swiper-pagination-bullet {
                width: 2.5vw;
                margin: 0 .3vw !important;
                @include border_radius(1vw);
                opacity: 1;
                background-color: #BF5D44;

                @include screen_960 {
                    width: 6vw;
                    margin: 0 1vw !important;
                    @include border_radius(3vw);
                }

                &.swiper-pagination-bullet-active {
                    background-color: #602E22;
                }
            }
        }

        .btn {
            @include position(absolute, null -1px -1px null);
            width: 7vw;
            height: 6.5vw;
            background: url(../../images/boxRb.svg) no-repeat right center / 100% auto;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            z-index: 1;

            @include screen_960 {
                width: 15vw;
                height: 14.5vw;
            }

            img {
                width: 3.6vw;

                @include screen_960 {
                    width: 9vw;
                }
            }

            a {
                color: $color_black;
            }

            span {
                font-size: 1vw;
                font-weight: 500;
                line-height: 1.4;
                display: block;
                text-align: right;
                @include position(absolute, null null 4vw -6vw);

                @include screen_960 {
                    font-size: 3.5vw;
                    bottom: 2vw;
                    left: -22vw;
                    width: 24vw;
                }
            }
        }
    }
}

/**
*
* planList
*
**/
.planList {
    margin-top: 8vw;

    h2 {
        width: 70%;
        margin: 0 auto;
        font-size: 2vw;
        font-weight: bold;
        line-height: 1.4;

        @include screen_960 {
            width: 90%;
            font-size: 6vw;
        }
    }

    .planSwiper {
        margin-top: 4vw;

        @include screen_960 {
            padding: 0 4.5vw;
        }

        .swiper-slide {
            padding: 2vw;
            min-height: 20vw;
            @include border_radius(2vw);

            @include screen_960 {
                padding: 4vw;
                min-height: 68vw;
                @include border_radius(4vw);
            }

            &.slide1 {
                background-color: #6C6635;
            }

            &.slide2 {
                background-color: #CA824D;
            }

            &.slide3 {
                background-color: #6254A8;
            }

            &.slide4 {
                background-color: #419F83;
            }

            h3 {
                width: 75%;
                font-size: 1.6vw;
                font-weight: bold;
                line-height: 1.4;
                color: $color_white;

                @include screen_960 {
                    width: 100%;
                    font-size: 4.8vw;
                }

                span {
                    display: block;

                    @include screen_960 {
                        display: inline;
                    }
                }
            }

            .text {
                width: 75%;
                margin-top: 1vw;
                font-size: 1.1vw;
                line-height: 1.6;
                color: $color_white;

                @include screen_960 {
                    width: 100%;
                    margin-top: 4vw;
                    font-size: 3vw;
                }

            }

            .btn {
                @include position(absolute, null -1px -1px null);
                width: 7vw;
                height: 6.6vw;
                background: url(../../images/boxRb.svg) no-repeat right center / 100% auto;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                z-index: 1;

                @include screen_960 {
                    width: 15vw;
                    height: 14.5vw;
                }

                img {
                    width: 3.6vw;

                    @include screen_960 {
                        width: 9vw;
                    }
                }

                a {
                    color: $color_black;
                }

                span {
                    font-size: 1vw;
                    font-weight: 500;
                    line-height: 1.4;
                    display: block;
                    text-align: right;
                    color: $color_white;
                    @include position(absolute, null null 1vw -4vw);

                    @include screen_960 {
                        font-size: 3.5vw;
                        bottom: 2vw;
                        left: -20vw;
                        width: 22vw;
                    }
                }
            }
        }
    }
}

/**
*
* stageUnit
*
**/
.stageUnit {
    margin-top: 8vw;

    &__body {
        max-width: 80%;
        margin: auto;

        @include screen_960 {
            max-width: 90%;
        }

        h2 {
            width: 70%;
            margin: 0 auto;
            font-size: 2vw;
            font-weight: bold;
            line-height: 1.4;

            @include screen_960 {
                width: 100%;
                font-size: 6vw;
            }
        }

        .row {
            display: flex;
            align-items: stretch;
            justify-content: center;
            margin-top: 4vw;
        }
    }

    &__left {
        width: 50%;

        @include screen_960 {
            width: 100%;
        }

        .stageFoldUnit {
            &.stageFoldUnit1 {
                .item1 {
                    top: 0;
                }

                .item2 {
                    top: 58%;

                    @include screen_960 {
                        top: 74%;
                    }
                }

                .item3 {
                    top: 70%;

                    @include screen_960 {
                        top: 86.5%;
                    }
                }

                .item4 {
                    top: 82%;

                    @include screen_960 {
                        top: 99%;
                    }
                }
            }

            &.stageFoldUnit2 {
                .item1 {
                    top: 0;
                }

                .item2 {
                    top: 11%;

                    @include screen_960 {
                        top: 26%;
                    }
                }

                .item3 {
                    top: 70%;

                    @include screen_960 {
                        top: 86.5%;
                    }
                }

                .item4 {
                    top: 82%;

                    @include screen_960 {
                        top: 99%;
                    }
                }
            }

            &.stageFoldUnit3 {
                .item1 {
                    top: 0;
                }

                .item2 {
                    top: 11%;

                    @include screen_960 {
                        top: 26%;
                    }
                }

                .item3 {
                    top: 23%;

                    @include screen_960 {
                        top: 38%;
                    }
                }

                .item4 {
                    top: 82%;

                    @include screen_960 {
                        top: 99%;
                    }
                }
            }

            &.stageFoldUnit4 {
                .item1 {
                    top: 0;
                }

                .item2 {
                    top: 11%;

                    @include screen_960 {
                        top: 26%;
                    }
                }

                .item3 {
                    top: 23%;

                    @include screen_960 {
                        top: 38%;
                    }
                }

                .item4 {
                    top: 35%;

                    @include screen_960 {
                        top: 51%;
                    }
                }
            }

            &__wrap {
                position: relative;
                width: 100%;
                min-height: 34vw;
                overflow: hidden;
                @include border_radius(0, 0, 1.5vw, 1.5vw);

                @include screen_960 {
                    min-height: 92vw;
                }
            }

            &__item {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                min-height: 34vw;
                padding: 1.7vw 3vw;
                @include transition(top, .3s, ease-in-out);

                @include screen_960 {
                    min-height: 92vw;
                    padding: 1.7vw 6vw;
                }

                &.item1 {
                    background: url(../../images/home/bg_stage_slide_1.svg) no-repeat center / 100% auto;

                    @include screen_960 {
                        background: url(../../images/home/bg_stage_slide_1_m.svg) no-repeat center / 100% auto;
                    }

                    .step,
                    .text {
                        color: #707A21;
                    }
                }

                &.item2 {
                    background: url(../../images/home/bg_stage_slide_2.svg) no-repeat center / 100% auto;

                    @include screen_960 {
                        background: url(../../images/home/bg_stage_slide_2_m.svg) no-repeat center / 100% auto;
                    }

                    .step,
                    .text {
                        color: #9E4833;
                    }
                }

                &.item3 {
                    background: url(../../images/home/bg_stage_slide_3.svg) no-repeat center / 100% auto;

                    @include screen_960 {
                        background: url(../../images/home/bg_stage_slide_3_m.svg) no-repeat center / 100% auto;
                    }

                    .step,
                    .text {
                        color: #C4F0F9;
                    }
                }

                &.item4 {
                    background: url(../../images/home/bg_stage_slide_4.svg) no-repeat center / 100% auto;

                    @include screen_960 {
                        background: url(../../images/home/bg_stage_slide_4_m.svg) no-repeat center / 100% auto;
                    }

                    .step,
                    .text {
                        color: #5E5589;
                    }
                }

                .step {
                    position: relative;
                    top: 1.2vw;
                    font-size: 1.5vw;
                    line-height: 1.4;
                    cursor: pointer;
                    display: inline-block;

                    @include screen_960 {
                        font-size: 5vw;
                        font-weight: 500;
                    }
                }

                .date {
                    margin-top: 3vw;
                    font-size: 2vw;
                    line-height: 1.4;

                    @include screen_960 {
                        font-size: 4.6vw;
                        margin-top: 4vw;
                    }
                }

                h3 {
                    margin-top: .5vw;
                    font-size: 2vw;
                    font-weight: bold;
                    line-height: 1.3;

                    @include screen_960 {
                        font-size: 4.5vw;
                        margin-top: 1vw;
                    }

                    span {
                        display: block;

                        @include screen_960 {
                            display: inline;
                        }
                    }
                }

                .text {
                    position: absolute;
                    top: 30%;
                    left: 55%;
                    width: 40%;
                    font-size: 1.5vw;
                    line-height: 1.3;

                    @include screen_960 {
                        position: relative;
                        top: auto;
                        left: auto;
                        width: 100%;
                        font-size: 4vw;
                        line-height: 1.4;
                        margin-top: 2vw;
                    }

                    &>span {
                        @include screen_960 {
                            display: block;
                            width: 70%;
                        }
                    }

                    .btn {
                        width: 100%;
                        text-align: right;
                        margin-top: 1vw;
                        font-size: 1.2vw;

                        @include screen_960 {
                            margin-top: 2vw;
                            font-size: 4vw;
                        }

                        a {
                            display: inline-block;
                            color: $color_black;
                        }

                        img {
                            width: 3vw;

                            @include screen_960 {
                                width: 8vw;
                            }
                        }
                    }
                }

                .tagUnit {
                    position: absolute;
                    top: 4vw;
                    right: 1.5vw;
                    cursor: pointer;
                    z-index: 1;

                    @include screen_960 {
                        top: 10vw;
                        right: 4.5vw;
                        cursor: default;
                    }
                }

                &.item2,
                &.item3,
                &.item4 {
                    @include screen_960 {
                        margin-top: -12vw;
                    }
                }
            }
        }
    }

    &__right {
        width: 50%;
        margin: 0 0 0 -10%;

        @include screen_960 {
            display: none;
        }
    }
}

/**
*
* teamUnit
*
**/
.teamUnit {
    margin-top: 8vw;

    &__body {
        max-width: 80%;
        margin: auto;

        @include screen_960 {
            max-width: 90%;
        }

        h2 {
            width: 70%;
            margin: 0 auto;
            font-size: 2vw;
            font-weight: bold;
            line-height: 1.4;

            @include screen_960 {
                width: 100%;
                font-size: 6vw;
            }
        }

        .row {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin: 4vw -1% 0 -1%;

            @include screen_960 {
                flex-direction: column;
                margin: 2vw -1% 0 -1%;
            }
        }

        .cardTeam {
            margin: 4vw 0 0 0;
            width: 50%;

            @include screen_960 {
                width: 100%;
                margin: 0 0 0 0;
            }

            &__item {
                margin: 1% 1%;
                padding: 2vw;
                min-height: 18vw;
                width: calc(50% - 2%);

                @include screen_960 {
                    padding: 4vw;
                    min-height: 40vw;
                }

                &.max {
                    width: calc(100% - 2%);
                }

                h3 {
                    font-size: 1.5vw;
                    font-weight: bold;
                    line-height: 1.4;

                    @include screen_960 {
                        width: 100%;
                        font-size: 4vw;
                    }
                }

                .text {
                    font-size: 1.2vw;
                    line-height: 1.4;

                    @include screen_960 {
                        font-size: 3vw;
                    }
                }

                .btn {
                    @include position(absolute, null -1px -1px null);
                    width: 7vw;
                    height: 6.5vw;
                    background: url(../../images/boxRb.svg) no-repeat right center / 100% auto;

                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;

                    @include screen_960 {
                        width: 15vw;
                        height: 14.5vw;
                    }

                    img {
                        width: 3.6vw;

                        @include screen_960 {
                            width: 9vw;
                        }
                    }

                    a {
                        color: $color_black;
                    }

                    span {
                        font-size: 1vw;
                        font-weight: 500;
                        line-height: 1.4;
                        display: block;
                        text-align: right;
                        @include position(absolute, null null 1vw -3.5vw);

                        @include screen_960 {
                            font-size: 3.5vw;
                            bottom: 2vw;
                            left: -14vw;
                            width: 16vw;
                        }
                    }
                }
            }
        }
    }
}

/**
*
* newsListUnit
*
**/
.newsListUnit {
    margin-top: 8vw;

    &__body {
        max-width: 90%;
        margin: auto;

        h2 {
            width: 70%;
            margin: 0 auto;
            font-size: 2vw;
            font-weight: bold;
            line-height: 1.4;

            @include screen_960 {
                width: 100%;
                font-size: 6vw;
            }
        }
    }

    &__wrap {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -.5%;
    }

    &__item {
        width: calc(20% - 1%);
        margin: 2% .5%;

        @include screen_960 {
            width: 100%;
            margin: 4% 0;
        }

        &.max {
            width: calc(40% - 1%);
            margin: 2% .5%;
            background-color: $color_tertiary;
            @include border_radius(2vw);

            @include screen_960 {
                width: 100%;
                margin: 4% 0;
                @include border_radius(4vw);
            }

            .photo {
                padding-bottom: 54%;
                @include border_radius(0px, 0px, 0px, 0px);

                .btn {
                    display: none;
                }
            }

            .infoCon {
                padding: 1.5vw 2vw;
                min-height: 10vw;

                @include screen_960 {
                    padding: 3vw 4vw;
                }
            }
        }

        .photo {
            position: relative;
            background-color: #F5F5F5;
            width: 100%;
            padding-bottom: 100%;
            @include border_radius(2vw);
            overflow: hidden;

            @include screen_960 {
                @include border_radius(4vw);
            }

            &>a {
                @include position(absolute, 0 0 0 0);
                z-index: 3;
            }

            &::after {
                @include position(absolute, 0 0 0 0);
                content: "";
                z-index: 1;
                background-color: rgba(0, 0, 0, .1)
            }

            &>img {
                @include position(absolute, 0 0 0 0);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .btn {
                @include position(absolute, null -1px -1px null);
                width: 7vw;
                height: 6.5vw;
                background: url(../../images/boxRb.svg) no-repeat right center / 100% auto;
                z-index: 2;

                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                @include screen_960 {
                    width: 15vw;
                    height: 14.5vw;
                }

                img {
                    width: 3.6vw;
                    margin: 1px;

                    @include screen_960 {
                        width: 9vw;
                    }
                }
            }
        }

        .infoCon {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 1vw 0;

            @include screen_960 {
                padding: 2vw 0;
            }

            h3 {
                min-height: 50px;
                color: $color_black;
                font-weight: 700;
                font-size: 2vw;
                font-size: 1.4vw;
                width: 80%;

                @include screen_960 {
                    width: 100%;
                    font-size: 4.5vw;
                }

                a {
                    color: $color_black;
                }
            }

            .date {
                margin-top: .5vw;
                font-size: 1.05vw;
                line-height: 1.4;

                @include screen_960 {
                    margin-top: 2vw;
                    font-size: 3.8vw;
                    line-height: 1.5;
                }
            }

            .tagUnit {
                margin-top: .5vw;

                @include screen_960 {
                    margin-top: 2vw;
                }

                &.date {
                    position: relative;
                    top: auto;
                    left: auto;
                }
            }
        }

        .newsSwiper {
            .newsSwiperPagination {
                padding: 2vw;

                @include screen_960 {
                    padding: 4vw;
                }
            }

            .swiper-pagination-bullet {
                width: 3vw;
                margin: 0 .4vw !important;
                @include border_radius(1vw);
                opacity: 1;
                background-color: #BEBECC;

                @include screen_960 {
                    width: 8vw;
                    margin: 0 1vw !important;
                    @include border_radius(3vw);
                }

                &.swiper-pagination-bullet-active {
                    background-color: #5F5F66;
                }
            }
        }
    }

    .newsSwiper {
        @include border_radius(2vw);

        @include screen_960 {
            @include border_radius(4vw);
        }
    }
}