/**
*
* ratio
*
**/
// @include aspect-ratio(16, 9)
@mixin aspect-ratio($width, $height) {
    position: relative;
    height: auto;

    &:before {
        display: block;
        content: "";
        width: 100%;
        //   padding-top: ($height / $width) * 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    &>img,
    &>div,
    &>iframe,
    &>svg,
    &>path {
        @include position(absolute, 0);
        display: block;
        width: 100%;
        height: 100%;
    }
}